.gallery {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0) 10%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.9) 100%
    ),
    url(../assets/img/poppies.jpg);
  background-position: bottom center;
  position: relative;
  &__article {
    background-color:$gallery-background;
    width: 100%;
    max-width: 996px;
    padding: 16px 0 36px;
    backdrop-filter: blur(8px);
    
  }
  &__carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      height: 0;
    }
  }
  &__content {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 16px;
  }
  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-title {
      color: black;
      font-size: 32px;
      margin: 56px 16px 16px 16px;
    }
  }
  &__image-container--big {
    width: 50vh;
    height: 50vh;
    min-width: 280px;
    min-height: 280px;
    max-width: 100vw;
    max-height: 100vw;
    margin: 0 auto 16px;
  }
  &__image-big {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  &__image-small {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
  }
  &__image-container--small {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }
  &__slider {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    transition: .3s linear;
    background-color: rgba(255, 255, 255, 0.6);
    &:focus{
      outline: 1px solid #bbb;
    }
    &:hover{
        background-color: rgba(255, 255, 255, 0.9);
    }

    &-arrow {
      width: 60%;
    }
    &-next {
      right: 0;
      transform: translate(-25%, -50%);
    }
    &-previous {
      left: 0;
      transform: translate(25%, -50%);
    }
  }
  &__wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding:0 16px;
  }
}

@media(min-width:768px) {
  .gallery{
    &__article{
      margin-bottom: 72px;
    }
  }
}
